---
import Layout from '../../layout.astro';
---

<Layout path="/about">
    <main class="container">
        <h1>About us</h1>
        <p>Behind tidi.app, you find a committed team passionate about creating a useful and modern app that will help your company to gain increased control over costs and data security.</p>
    </main>
</Layout>

