---
import Layout from '../../layout.astro';
import { Image } from 'astro:assets';
import TidiDashboard from './Tidi_Dashboard.png';
import TidiOverview from './Tidi_Overview.png';
import TidiTransactions from './Tidi_Transactions.png';
import TidiCalendar from './Tidi_Calendar.png';

---

<Layout path="">
  <main class="container">
    <h1>Get the complete picture</h1>
    
    <p>
        <h2>Dashboard</h2>
        <Image src={TidiDashboard} alt="Tidi Dashboard" width={TidiDashboard.width / 2} />
        <div class="img-text">See the costs of all licences and assets in the company</div>
    </p>
    
    <p>
        <h2>Know when to take actions</h2>
        <Image src={TidiCalendar} alt="Tidi Calendar" width={TidiCalendar.width / 2} />
        <div class="img-text">Do you know when the licences expires and do you need to take action in advance?</div>
    </p>
    
    <p>
        <h2>Transaction history</h2>
        <Image src={TidiTransactions} alt="Tidi Transactions" width={TidiTransactions.width / 2} />
        <div class="img-text">Make sure you have all your attachments ready for accounting</div>
    </p>

    <p>
      <h2>Drill down into one subscription</h2>
      <Image src={TidiOverview} alt="Tidi drilldown to get overview" width={TidiOverview.width / 2} />      
      <div class="img-text">Get the necessary insights for each subscription</div>
    </p>

  </main>
</Layout>

<style>
.container {
    /*display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
  }

  p {
    margin-bottom: 6rem;
  }
  
  div.img-text {
    background-color: hsl(var(--base-color) 85%);
    padding:1rem;
    text-align: center;
  }
</style>