---
import Layout from '../../layout.astro';
---

<Layout path="">
  <main class="container">
    <h1>Get the complete picture</h1>
    
    <p>
        <h2>Dashboard</h2>
        <img src="src/pages/product/Tidi Dashboard.png" alt="Tidi Dashboard" />
        <div class="img-text">See the costs of all licences and assets in the company</div>
    </p>
    
    <p>
        <h2>Know when to take actions</h2>
        <img src="src/pages/product/Tidi Calendar.png" alt="Tidi Calendar" />
        <div class="img-text">Do you know when the licences expires and do you need to take action in advance?</div>
    </p>
    
    <p>
        <h2>Transaction history</h2>
        <img src="src/pages/product/Tidi Transactions.png" alt="Tidi Transactions" />
        <div class="img-text">Make sure you have all your attachments ready for accounting</div>
    </p>

    <p>
      <h2>Drill down into one subscription</h2>
      <img src="src/pages/product/Tidi Overview.png" alt="Tidi drilldown to get overview" />
      <div class="img-text">Get the necessary insights for each subscription</div>
    </p>

  </main>
</Layout>

<style>
img {
    width: 100%;
  }

  p {
    margin-bottom: 100px;
  }
  
  div.img-text {
    background-color: hsl(var(--base-color) 85%);
    padding:10px;
    text-align: center;
  }
</style>