---
import Layout from '../layout.astro';
---

<Layout path="/">
  <main class="container">
  
    <h1>The app that makes it possible to gain better control in your company</h1>
  
    <p>
      <ul>
        <li>Do you have the necessary overview of the costs?</li>
        <li>Are all paying users in use?</li>
        <li>Do former employees have access?</li>
        <li>Do you know the renewal dates?</li> 
        <li>Is it time-consuming to collect the documents?</li>
        <li>Where is sensitive data stored?</li>
        <li>Are all suppliers safe?</li>
      </ul>
    </p>
  
  </main>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
  }
</style>