---
import Layout from '../layout.astro';
---

<Layout path="/">
  <main class="container">
    <img class="logo" src="/logo.svg" alt="Tidi AS" />
    <p>Tidi represents something easier, yeah.</p>
  </main>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .logo {
    width: 100%;
    max-width: 100px;
  }
</style>